<h1>Reservas</h1>

<% if @lodge_bookings.empty? %>
  <p>Não há reservas ativas.</p>
<% end %>

<ul>
  <% @lodge_bookings.each do |lb| %>  
    <div>
      <%= link_to lb.code, lb %> Nome do quarto: <%= lb.room.name %>, data inicial: <%= lb.check_in.strftime("%d/%m/%Y") %>,
          data final: <%= lb.check_out.strftime("%d/%m/%Y") %>, número de hóspedes: <%= lb.guests %>
          <p><%= Booking.human_attribute_name(:status) %>:
             <%= I18n.t(lb.status) %></p>   
    </div>
  <% end %>
</ul>
