<h1>Dados da Reserva</h1>
<p><strong>Código da Reserva:</strong><%= @booking.code %></p>
<%= render 'room_info' %>
<p><strong>Data de Entrada:</strong> <%= @booking.check_in.strftime("%d/%m/%Y") %></p>
<% if @booking.actual_check_in_time != nil %>
  <p><strong>Check in efetuado às:</strong> <%= @booking.actual_check_in_time.strftime("%H:%M") %></p>
<% end %>
<p><strong>Entrada a partir de:</strong> <%= @lodge.check_in.in_time_zone("Brasilia").strftime("%H:%M") %></p>
<p><strong>Data de Saída:</strong> <%= @booking.check_out.strftime("%d/%m/%Y") %></p>
<p><strong>Saída até:</strong> <%= @lodge.check_out.strftime("%H:%M") %></p>
<p><strong>Número de Hóspedes:</strong> <%= @booking.guests %></p>
<p><strong>Valor Total:</strong> R$ <%= @total_price %></p>
<p><strong>Modos de Pagamento:</strong> <%= @lodge.payment_method %></p>
<% if @booking.payment_method != nil %>
  <p><strong>Pagamento efetuado com:</strong> <%= @booking.payment_method %></p>
  <p><strong>Check out efetuado às:</strong> <%= @booking.actual_check_out_time.strftime("%H:%M") %></p>
<% end %>
<div>
  <% if user_signed_in? %>
    <strong><%= link_to 'Voltar', my_bookings_path %></strong>
  <% end %>
  <% if owner_signed_in? && @booking.confirmed? %>
    <strong><%= button_to 'Confirmar check in', check_in_booking_path(@booking.id), method: :post%></strong>
    <strong><%= button_to 'Cancelar Reserva', cancel_booking_path(@booking.id), method: :post%></strong>
    <strong><%= link_to 'Voltar', lodge_bookings_path %></strong>
  <% elsif owner_signed_in? && @booking.active? %> 
    <%= form_with url: check_out_booking_path(@booking.id) do |f| %>
      <%= f.label :payment_method, "Método de pagamento" %>
      <%= f.text_field :payment_method %>
      <%= f.submit "Realizar Check out" %>
    <% end %>
  <% else %>
    <strong><%= link_to 'Voltar', lodge_bookings_path %></strong>
  <% end %>
</div>
