<h1>Dados da Reserva</h1>
<p><strong>Código da Reserva:</strong><%= @booking.code %></p>
<%= render 'room_info' %>
<p><strong>Data de Entrada:</strong> <%= @booking.check_in.strftime("%d/%m/%Y") %></p>
<p><strong>Horário de Entrada:</strong> <%= @lodge.check_in.strftime("%H:%M") %></p>
<p><strong>Data de Saída:</strong> <%= @booking.check_out.strftime("%d/%m/%Y") %></p>
<p><strong>Horário de Saída:</strong> <%= @lodge.check_out.strftime("%H:%M") %></p>
<p><strong>Número de Hóspedes:</strong> <%= @booking.guests %></p>
<p><strong>Valor Total:</strong> R$ <%= @total_price %></p>
<p><strong>Modos de Pagamento:</strong> <%= @lodge.payment_method %></p>
<div>
  <% if user_signed_in? %>
    <strong><%= link_to 'Voltar', my_bookings_path %></strong>
  <% end %>
  <% if owner_signed_in? && !@booking.active? %>
    <strong><%= button_to 'Confirmar check in', check_in_booking_path(@booking.id), method: :post%></strong>
    <strong><%= link_to 'Voltar', lodge_bookings_path %></strong>
  <% else %>
    <strong><%= link_to 'Voltar', lodge_bookings_path %></strong>
  <% end %>
</div>