<section id="lodges">
  <h2> Pousadas Disponíveis</h2> 
    <% if owner_signed_in? %>
      <div> 
        <strong><%= link_to 'Cadastrar Pousada', new_lodge_path %></strong>
      </div>
      <div> 
        <strong><%= link_to 'Reservas',lodge_bookings_path %></strong>
      </div>
      <div> 
        <strong><%= link_to 'Estadias Ativas', active_stays_path %></strong>
      </div>
      <div> 
        <strong><%= link_to 'Avaliações', reviews_path %></strong>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <div> 
        <%= link_to('Minhas Reservas', my_bookings_path) %>
      </div>
    <% end %>

  <div id="city-menu">
      <h3>Cidades:</h3>
      <ul>
        <% Lodge.distinct.pluck(:city).sort.each do |city| %>
          <li><%= link_to(city, lodges_city_path(city)) %></li>
        <% end %>
      </ul>
  </div>

    <h3>Pousadas mais Recentes:</h3>
      <ul>
        <% @recent_lodges.each do |rl| %>
          <div>
            <h4><%= link_to(rl.name, lodge_path(rl.id)) %>, <%= rl.city %></h4>
          </div>
        <% end %>
      </ul>
    <h3>Outras Pousadas:</h3>
      <ul>
        <% @other_lodges.each do |ol| %>
          <div>
            <h4><%= link_to(ol.name, lodge_path(ol.id)) %>, <%= ol.city %></h4>
          </div>
        <% end %>
      </ul>
  <% if @recent_lodges.empty? && @other_lodges.empty? %>
    <p>Não existem pousadas cadastradas.</p>
  <% end %>
</section>
