<section id="lodges">
  <h2> Pousadas </h2> 
  <div> 
    <%= link_to('Cadastrar Pousada', new_lodge_path) %>
  </div>
  <% @lodges.each do |l| %>
    <div>
      <h3><%= link_to(l.name, lodge_path(l.id)) %></h3>
        <dl>
          <dd><%= l.name %></dd>
          <dd><%= l.headline %></dd>
          <dd><%= l.description %></dd>
          <dt>Localização:</dt> 
          <dd><%= l.full_address %></dd>
        </dl>
    </div>
  <% end %>

  <% if @lodges.empty? %>
    <p>Não existem pousadas cadastradas.</p>
  <% end %>

</section>