<section >
  <h1><%= @lodge.name %></h1>
    <h2><%= @lodge.headline %></h2>
      <h3><%= @lodge.description %></h3>
        <div>
          <dl>
            <dt><strong>Nome:</strong></dt> 
            <dd><%= @lodge.name %></dd>
            <dt><strong>Endereço:</strong></dt> 
            <dd><%= @lodge.full_address %></dd>
            <dt><strong>Número de quartos:</strong></dt>
            <dd><%= @lodge.bedrooms %></dd>
            <dt><strong>Máximo de hóspedes:</strong></dt> 
            <dd><%= @lodge.max_guests %></dd> 
            <dt><strong>Acessibilidade para PCD:</strong></dt> 
            <dd><%= @lodge.disabled_facilities %></dd>
            <dt><strong>Animais de estimação:</strong></dt> 
            <dd><%= @lodge.pets %></dd>
            <dt><strong>Status:</strong></dt>
            <dd><%= @lodge.status %></dd>
            <dt><strong>E-mail:</strong></dt> 
            <dd><%= @lodge.email %></dd>
            <dt><strong>Telefone:</strong></dt> 
            <dd><%= @lodge.phone_number %></dd>
            <dt><strong>Razão Social:</strong></dt> 
            <dd><%= @lodge.corporate_name %></dd>
            <dt><strong>CNPJ:</strong></dt> 
            <dd><%= @lodge.cnpj %></dd>
            <dt><strong>Modo de Pagamento:</strong></dt> 
            <dd><%= @lodge.payment_method %></dd>
            <dt><strong>Políticas de Uso:</strong></dt> 
            <dd><%= @lodge.policies %></dd>
            <% if @lodge.rooms.any? %>
              <h4>Quartos Disponíveis:</h4>
              <ul>
                <% @lodge.rooms.each do |room| %>
                  <% if room.vacant == true %>
                    <h3><%= link_to(room.name, lodge_room_path(@lodge, room)) %></h3>
                  <% end %>  
                <% end %>
              </ul>
            <% end %>
          </dl>
        </div>
        <div>
          <strong><%= link_to('Página Inicial', root_path)%></strong>
        </div>
        <div>
          <% if current_owner == @lodge.owner %>
            <strong><%= link_to('Editar', edit_lodge_path(@lodge.id))%></strong>
          <% end %>
        </div>
</section>
