<section >
  <h1><%= @room.name %></h1>
      <h2><%= @room.description %></h2>
        <div>
          <dl>
            <dt><strong>Área:</strong></dt> 
            <dd><%= @room.area %> m²</dd>
            <dt><strong>Máximo de hóspedes:</strong></dt> 
            <dd><%= @room.max_guests %></dd> 
            <dt><strong>Acessibilidade para PcD:</strong></dt> 
            <dd> <%= boolean_to_human(@room.disabled_facilities) %></dd>
            <dt><strong>Banheiro:</strong></dt> 
            <dd> <%= boolean_to_human(@room.bathroom) %></dd>
            <dt><strong>Varanda:</strong></dt> 
            <dd> <%= boolean_to_human(@room.balcony) %></dd>
            <dt><strong>Ar condicionado:</strong></dt> 
            <dd> <%= boolean_to_human(@room.ac) %></dd>
            <dt><strong>TV:</strong></dt> 
            <dd> <%= boolean_to_human(@room.tv) %></dd>
            <dt><strong>Guarda-roupas:</strong></dt> 
            <dd> <%= boolean_to_human(@room.closet) %></dd>
            <dt><strong>Cofre:</strong></dt> 
            <dd> <%= boolean_to_human(@room.safe) %></dd>
            <dt><strong>Diária Padrão:</strong></dt> 
            <dd><%= number_to_currency(@room.updated_standard_overnight, unit: "R$ ") %></dd>

            <% if current_owner == @lodge.owner && @special_pricings.any? %>
              <p><strong>Preço Especial</strong></p>
              <% @special_pricings.each do |special_pricing| %>
                <div>
                  <strong>Data Inicial:</strong> <%= special_pricing.start_date.strftime("%d/%m/%y") %>
                  <strong>Data Final:</strong> <%= special_pricing.end_date.strftime("%d/%m/%y") %>
                  <strong>Preço Especial:</strong><%= special_pricing.price %>
                </div>
              <% end %>
            <% end %>

            <dt><strong>Disponível:</strong></dt>
            <dd> <%= boolean_to_human(@room.vacant) %></dd>
          </dl>
        </div>
        <div>
          <% if @room.pictures.attached? %>
            <div class="photo-gallery">
              <h3>Galeria de fotos</h3>
              <% @room.pictures.each do |picture| %>
                <%= image_tag(picture, size: "250x150") %>
                <% if current_owner == @lodge.owner %>
                  <%= button_to 'Excluir', remove_picture_lodge_room_path(@room.id), params: { picture_id: picture.id },
                        method: :delete,
                        class: 'btn btn-danger btn-sm' %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div>
          <strong><%= link_to('Reservar', new_lodge_room_booking_path(@room.id, @room))%></strong>
        </div>                     
        <div>
          <% if current_owner == @room.lodge.owner %>
            <strong><%= link_to('Editar', edit_lodge_room_path(@room.id))%></strong>
            <strong><%= link_to('Atualizar Preços', new_lodge_room_special_pricing_path(@room.lodge, @room))%></strong>
          <% end %>
        </div>
        <div>
          <strong><%= link_to('Página Inicial', root_path)%></strong>
        </div>
</section>
