<h2>Avaliações</h2>

<% @reviews.each do |review| %>
  <dl>
    <% if current_owner %>
      <dt>Reserva:</dt>
      <dd><%= link_to review.booking.code, booking_path(review.booking) %></dd>
    <% end %>
    <dt><strong>Nome do Hóspede:</strong></dt>
    <dd><%= review.booking.user.name %></dd>
    <dt><strong>Nota (0-5):</strong></dt>
    <dd><%= review.rating %></dd>
    <dt><strong>Comentário:</strong></dt>
    <dd><%= review.comment %></dd>
    <dt><strong>Resposta do Proprietário:</strong></dt>
    <dd><%= review.reply %></dd>
  </dl>
<% end %>

<%= link_to 'Voltar', root_path %>