<!DOCTYPE html>
<html>
  <head>
    <title>Pousadaria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
  </head>    
  <body>
    <header>
      <%= link_to root_path do %>
        <h1>Pousadaria - BnBGuru</h1>
      <% end %>
      <nav>
        <div>
          <%= form_with url: search_path, method: :get do %>
            <%= label_tag :q, 'Busca:' %>
            <%= text_field_tag :q %>
            <%= submit_tag 'Pesquisar', class: 'button' %>
          <% end %>
        </div>
        <div>  
          <% if user_signed_in? %>
              <%= current_user.description %> 
              <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'button' %>
          <% else %>
              <%= link_to 'Entrar como Hóspede', new_user_session_path %>
          <% end %> 
        </div>
        <div>
          <% if owner_signed_in? %>
              <%= current_owner.description %> 
              <%= button_to 'Sair', destroy_owner_session_path, method: :delete, class: 'button' %>
          <% else %>
              <%= link_to 'Entrar como Proprietário', new_owner_session_path %>
          <% end %>
        </div> 
      </nav>
    </header>
    <main>
      <div>
        <%= alert %>
        <%= notice %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
